<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bootstrap Example</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-md-4 brd">
				<div class="center-block">
					
					<h1>Artemis Accuarte Archery</h1>
					<br>
					<img src="img/sky.jpg" >
				</div>
					</div>
				<div class="row">
					<div class="col-md-6 brd">
						<div class="center-block">
							<h2>"You miss 100% of the shots you don't take" -Wayne Gretzky  -Michael Scott</h2>
<h3>Coming soon.....</h3>
					</div>
				</div>





				</div>

			</div>
		</div>
	</div>

</body>
</html>




