<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="css/style.css">
	<title>My Webpage!</title>

</head>
<body>
	
	<h1>Here is a sample header!</h1>
	<p>	This is a sample sentence!</p>

	</body>
</html>