<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/bootstrap.css"  type="text/css"/>
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="js/bootstrap.js"></script>
	
	<title>Product 1</title>
	
</head>
<body>
	

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img src="img/sky.jpg" align="center">
			</div>

			<div class="col-md-6">
				<h1>Atlas GPS Services</h1>
				<h2>“Man cannot discover new oceans unless he has the courage to lose sight of the shore.” - André Gide</h2>
				<h3>Coming soon.....</h3>
			</div>
		</div>
	</div>

</body>
</html>